{% extends 'teams/base.html' %}

{% block content %}
    <div class="bg-white row mb-4">
        <div class="col-3">
            <div class="card h-100 text-white bg-danger mb-3">
                <div class="card-header">Blocked Tickets</div>
                <div class="card-body">
                    <p class="text-center bg-white text-dark card" style="font-size: 60px">3</p>
                    <div class="text-right"><button class="btn btn-dark text-white">View</button></div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card h-100 text-white bg-warning mb-3">
                <div class="card-header">Tickets In Progress</div>
                <div class="card-body">
                    <p class="text-center bg-white text-dark card" style="font-size: 60px">3</p>
                    <div class="text-right"><button class="btn btn-dark text-white">View</button></div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card h-100 text-white bg-primary mb-3">
                <div class="card-header">Tickets in Review</div>
                <div class="card-body">
                    <p class="text-center bg-white text-dark card" style="font-size: 60px">3</p>
                    <div class="text-right"><button class="btn btn-dark text-white">View</button></div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card h-100 text-white bg-success mb-3">
                <div class="card-header">Completed Tickets</div>
                <div class="card-body">
                    <p class="text-center bg-white text-dark card" style="font-size: 60px">3</p>
                    <div class="text-right"><button class="btn btn-dark text-white">View</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white row mb-4">
        <div class="col-8">
            <div class="card h-100 text-white bg-dark mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100 text-white bg-secondary mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white row mb-4">
        <div class="col-4">
            <div class="card h-100 text-white bg-info mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100 text-white bg-secondary mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100 bg-light mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white row mb-4">
        <div class="col-6">
            <div class="card h-100 text-white bg-dark mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card h-100 text-white bg-dark mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white row mb-4">
        <div class="col-12">
            <div class="card h-100 text-white bg-dark mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}